<% include partials/header %>

<h1> This is the show template </h1>

<p><%= foundCampground.name %></p>
<img src="<%= foundCampground.image %>">
<p><%= foundCampground.description %></p>

<% include partials/footer %>