.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
} 

.thumbnail .caption-full {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
}

.delete-form {
    display: inline;
}